doctype html
html(lang="en")

head
  include ../includes/header.pug
body
  include ../includes/topNav.pug   
  main(class="container")    
    div(class="row")
      div(class="col-md-12 card" style="padding-right: 0px !important; padding-left: 0px !important")
        div.card-header
          h4 Add Products
        div.card-body
          form
            div(class="form-row")
              div(class="form-group col-md-6")
                label Upload Image
                div(class="input-group")
                    span(class="input-group-btn")
                        button(class="btn btn-success btn-file") Browse… 
                          input(type="file" id="imgInp")
                    input(type="text" class="form-control" readonly)
              div(class="form-group col-md-6")
                label Image
                div(class="card" style="max-width : 300px; min-width : 300px; max-height: 300px")
                  div(class="card-body")
                    img(id='img-upload')
            div(class="form-row")
                div(class="form-group col-md-6")
                    label(for="inputEmail4") SKU
                    input(type="email" class="form-control" id="txtFirstName" placeholder="First Name")

                div(class="form-group col-md-6")
                    label(for="inputPassword4") Name
                    input(type="password" class="form-control" id="txtMiddleName" placeholder="Middle Name")
            div(class="form-row")
                div(class="form-group col-md-12")
                    label(for="inputAddress") Description
                    textarea(type="text" class="form-control" id="txtEmail" placeholder="juandelacruz@yahoo.com")
            div(class="form-row")
              div(class="form-group col-md-6")
                label(for="inputAddress") Quantity
                input(type="text" class="form-control" id="txtFirstAddress" placeholder="House No. / Floor No. / St. Name")
              
              div(class="form-group col-md-6")
                label(for="inputAddress2") Price
                input(type="text" class="form-control" id="txtSecAddress" placeholder="Barangay")  

            div(class="form-row")
              div(class="form-group col-md-2")
                button#btnSignIn(type="submit" class="btn btn-primary") Save
                span &nbsp
                button#btnSignIn(type="submit" class="btn btn-light") Reset
    <br/>
    div(class="row")
      div(class="col-md-12 card" style="padding-right: 0px !important; padding-left: 0px !important")
        div.card-header
          h4 List of Products
        div.card-body
          p List of products here
script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
script(src="/js/index.js")
