doctype html
html(lang="en")

head
  include ../includes/header.pug
body
  include ../includes/topNav.pug   
  main(class="container")    
    div(class="row" id="productController")
      div(class="col-md-12 card" style="padding-right: 0px !important; padding-left: 0px !important")
        div.card-header
          h4 Add Products
        div.card-body
          form(class="center" method="post" id="myForm" v-on:submit.prevent="onSubmit")
            input(type="hidden" class="form-control" v-model="productId" id="productId")
            div(class="form-row")
              div(class="form-group col-md-6")
                label Upload Image
                div(class="card" style="max-width : 300px; min-width : 300px; max-height: 300px; min-height:300px")
                  div(class="card-body")
                    img(id='img-upload')
                <br/>
                div(class="input-group")
                    span(class="input-group-btn")
                        button(class="btn btn-success btn-file") Browse… 
                          input(type="file" id="imgInp")
                    input(type="text" class="form-control" readonly)
                
            div(class="form-row")
                div(class="form-group col-md-6")
                    label SKU
                    input(type="text" class="form-control" id="sku" v-model="sku" placeholder="SKU")

                div(class="form-group col-md-6")
                    label Name
                    input(type="password" class="form-control" id="name" placeholder="Product Name")
            div(class="form-row")
                div(class="form-group col-md-12")
                    label Description
                    textarea(type="text" class="form-control" id="description" v-model="description" placeholder="Product Description")
            
            div(class="form-row")
              div(class="form-group col-md-6")
                label Quantity
                input(type="number" class="form-control" id="quantity" v-model="quantity" placeholder="")
              
              div(class="form-group col-md-6")
                label Price
                input(type="number" class="form-control" id="price" v-model="price" placeholder="")  

            div(class="form-row")
              div(class="form-group col-md-2")
                button(type="submit" class="btn btn-primary") Save
                span &nbsp
                button(type="submit" class="btn btn-light") Reset
    <br/>
    div(class="row")
      div(class="col-md-12 card" style="padding-right: 0px !important; padding-left: 0px !important")
        div.card-header
          h4 List of Products
        div.card-body
          p List of products here
script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
script(src="/js/index.js")
