doctype html
html(lang="en")

head
  include ../includes/header.pug
body
  include ../includes/topNav.pug   
  main(class="container" id="productController")    
    div(class="row")
      div(class="col-md-12 card" style="padding-right: 0px !important; padding-left: 0px !important")
        div.card-header
          h4 Add Products
        div.card-body
          form(class="center" method="post" id="myForm" v-on:submit.prevent="onSubmit")
            input(type="hidden" class="form-control" v-model="productId" id="productId")
            input(type="hidden" class="form-control" v-model="photo_path" id="photo_path")
            div(class="form-row")
              div(class="form-group col-md-6")
                label Upload Image
                div(class="card" style="max-width : 300px; min-width : 300px; max-height: 300px; min-height:300px")
                  div(class="card-body")
                    img(id='img-upload')
                <br/>
                div(class="input-group")
                    span(class="input-group-btn")
                        button(class="btn btn-success btn-file") Browse… 
                          input(type="file" id="imgInp" accept="image/*")
                    input(type="text" class="form-control" readonly)
                
            div(class="form-row")
                div(class="form-group col-md-6")
                    label SKU
                    input(type="text" class="form-control" id="sku" required v-model="sku" placeholder="SKU")

                div(class="form-group col-md-6")
                    label Name
                    input(type="text" class="form-control" id="name" required v-model="name"  placeholder="Product Name")
            div(class="form-row")
                div(class="form-group col-md-12")
                    label Description
                    textarea(type="text" class="form-control" required id="description" v-model="description" placeholder="Product Description")
            
            div(class="form-row")
              div(class="form-group col-md-6")
                label Quantity
                input(type="number" class="form-control" required id="quantity" v-model="quantity" placeholder="")
              
              div(class="form-group col-md-6")
                label Price
                input(type="number" class="form-control"  required id="price" v-model="price" placeholder="")  

            div(class="form-row")
              div(class="form-group col-md-2")
                button(type="submit" class="btn btn-primary") Save
                span &nbsp
                button(type="reset" class="btn btn-light" @click="resetForm") Reset
    <br/>
    div(class="row")
      div(class="col-md-12 card" style="padding-right: 0px !important; padding-left: 0px !important")
        div.card-header
          h4 List of Products
        div.card-body
          table(class="table table-bordered")
            thead
                tr
                    td(width="10%") Image
                    td(width="7%") SKU
                    td(width="15%") Name
                    td(width="20%") Description
                    td(width="10%") Quantity
                    td(width="10%") Price
                    td(width="13%") Action
            tbody
              tr(v-for="product in products")
                td
                  img(v-bind:src="product.photo_path"  , alt="", style="max-width:70px; max-height:70px")
                td {{ product.sku }}
                td {{ product.name }}
                td {{ product.description }}
                td {{ product.quantity }}
                td {{ product.price }}
                td 
                  button(type="button" class="btn btn-success" @click="getDetails(product._id)") Edit 
                  span &nbsp
                  button(type="button" class="btn btn-danger" @click="deleteTask(product._id)") Delete
                =ctr++
                
script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
script(src="/js/index.js")
