div(class="modal fade" id="cartId" tabindex="-1" role="dialog" aria-hidden="true")
    div(class="modal-dialog modal-lg" role="document")
        div(class="modal-content")
            div(class="modal-header")
                h5(class="modal-title" id="exampleModalLabel") Cart
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;

            div(class="modal-body")
                table(class="table")
                  thead
                    tr
                      td
                      td(style="width:298px") Item
                      td(style="width:50px") Quantity
                      td
                      td Price
                      td Total Price
                  tbody
                    tr(v-for="cart in cartData")
                      td 
                        img(v-bind:src="cart.photo"  , alt="", style="max-width:25px; max-height:25px")
                      td {{ cart.name }}
                      td 
                        input(class="form-control" type="number" name="title" v-bind:value="cart.qty" @change="addToCart(cart.productId, cart.price, cart.name, cart.photo ,$event)")
                      td x
                      td {{cart.price | toCurrency}}
                      td {{cart.price * cart.qty | toCurrency}}
                    tr
                      td 
                      td 
                      td 
                      td 
                      td 
                        b Total Amount
                      td
                        span(id="totalAmount")

            div(class="modal-footer")
                button(type="button" class="btn btn-secondary" data-dismiss="modal") Continue Shopping
                button(type="button" class="btn btn-primary" @click="checkOut") Checkout
div(class="modal fade" id="decideCheckout" tabindex="-1" role="dialog" aria-hidden="true")
    div(class="modal-dialog modal-sm" role="document")
        div(class="modal-content")
            div(class="modal-header")
                h5(class="modal-title" id="exampleModalLabel") Checkout
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;

            div(class="modal-body")
                p Ooops! doesn't have an account yet?
                  span &nbsp
                  a(href="/signup?return=/checkout" class="btn btn-secondary btn-sm" ) Sign Up
                h4 or
                <br/>
                p Has already an acccount?
                  span &nbsp
                  a(href="/login?return=/checkout" class="btn btn-primary btn-sm" @click="checkOut") Login