doctype html
html(lang="en")

head
  link(rel='stylesheet', href='/css/signcss.css')
  include includes/header.pug
body
  include includes/topNav.pug   
  main(class="container")    
    div(id="login-box")
        div(class="left-box")

        div(class="right-box")

        div(class="or") OR
  include cart.pug

script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
script(src="/js/index.js")
