h3#h3Title 
  b#grpName Atomic Potato Shop
  .form-group#buts
      button#btnSignUp.btn.btn-lg(type="button"
      v-on:click="signUp"
      style='background-color:transparent;')
          i(class="fa fa-user-plus")
          span Sign Up

      button.btn.btn-lg(type="button"
      v-on:click="logIn" 
      style='background-color:transparent;')
          i(class="fa fa-user-circle-o") 
          span  Login

      button.btn.btn-lg(type="button"
      v-on:click="openCart" 
      style='background-color:transparent;') 
          i(class="fa fa-cart-arrow-down") 
          span  Cart