header(id="signUpController")
  nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
    img(src="/images/header.png" style="max-width: 3%;")
    a(class="navbar-brand" href="/") Atomic Potato Shop
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" 
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarCollapse")
      ul(class="navbar-nav mr-auto")
        if loginCookie != ""
          li(class="nav-item active")
            a(class="nav-link" href="/") Home
          li(class="nav-item active")
            a(class="nav-link" href="/admin/products") Products
          li(class="nav-item active")
            a(class="nav-link" href="/admin/orders") List of Orders
          li(class="nav-item active")
            a(class="nav-link" href="/admin/users") Users
        else 
          span &nbsp
      form(class="form-inline mt-2 mt-md-0")
        //- input(class="form-control mr-sm-10" type="text" placeholder="Search" aria-label="Search")
        button(type="button" @click="showCart" class="btn btn-danger my-2 my-sm-0")
            i(class="fa fa-cart-arrow-down")
            span &nbsp
            span(class="badge badge-light" id="cartBadge") 0
              
        span &nbsp
        if loginCookie == ""
          a(href="/signup" class="btn btn-success my-2 my-sm-0")
              i(class="fa fa-user-plus") 
              span &nbspSign Up
          span &nbsp
          a(href="/login" class="btn btn-primary my-2 my-sm-0")
              i(class="fa fa-user-circle-o")
              span &nbspLogin
          span &nbsp
        else
          a(href="/logout" class="btn btn-warning my-2 my-sm-0")
              i(class="fa fa-sign-out") 
              span &nbspLogout
          span &nbsp
  include ../cart.pug
        

            